* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0;
}

.grid {
    display: grid;
    align-items: center;
}

nav {
    background-color: cornflowerblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
}

h1 {
    color: cornflowerblue;
    margin-top: 1rem;
    margin-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid cornflowerblue;
    display: flex;
    justify-content: center;
}

main {
    grid-column: 2/3;
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
    margin-top: 1rem;
}

p {
    margin: 1rem;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
    margin-top: 1rem;
}

aside p {
    text-align: left;
    font-weight: 350;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.temples {
    margin-left: 1rem;
}